@import '../../mixins.scss';
.orders {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  // border: 2px solid black;
  min-height: 60vh;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 60%;
    @include lg{
      width: 90%;
    }
    @include md{
      width: 100%;
    }
    @include ss{
      gap:0
    }

    .heading {
      font-size: 2rem;
      @include ss{
        font-size: 1.2rem;
      }
    }

    .date {
      font-size: 1.8rem;
      color: grey;
      @include ss{
        font-size: 1rem;
      }
    }
    .table {
      background-color: white;

      table {
        padding: 20px;
        padding: 8px;
        border-radius: 8px;
        @include ss{
          padding: 5px;
        }
        thead {
          th {
            border-bottom: 2px solid black;
            padding: 5px 10px;
            background-color: rgb(233, 226, 226);
            font-size: 1.5rem;
            text-transform: capitalize;
            @include ss{
              font-size: 1rem;
              padding: 2px 4px;
            }
          }
        }
        tbody {
          th {
            padding: 5px 10px;
            background-color: rgb(228, 226, 226);
            font-size: 1.2rem;
            text-transform: capitalize;
            @include ss{
              font-size: .8rem;
              padding: 2px 4px;
            }
            // color: red;
          }
        }
        tfoot {
          tr {
            border: 2px solid red;
            color: white;
            background-color: rgb(158, 152, 152);
            font-size: 1.2rem;
            align-items: center;
            text-align: center;
            @include ss{
              font-size: .8rem;
            }
          }
        }
      }
    }
  }
}
