@import "../mixins.scss";
.home {
  width: 100%;

  .continer {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    @include md {
      flex-direction: column;
    }
   
    .left {
      .filters {
        position: sticky;
        top: 10rem;
        left: 5rem;
      }
      @include md {
      }
    }

    .items {
     
    }
  }
}
