*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
  list-style: none;
}
:root {
  --white: white;
  --white-grey: rgb(219, 202, 202);
  --grey: grey;
//   box-shadow: 2px 5px 5px ;
}
